:root {
  --fontSize: 16px;
  --backgroundColor: rgba(255, 255, 250, 1.0);
  --fontColor: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: var(--fontSize);
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  font-size: 0.875rem;
}
