/**
*
* GLOBAL APP STYLES
*/
@import "variables", "funtions";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  width: 1044px;
  background-color: $backgroundColor;
  font-family: $fontFamily;
  color: $fontColor;
  font-size: rem(14);
  margin: 0 auto;;

  header {
    min-width: 100%;
    height: rem(52);
    display: flex;
    //justify-content: center;
    align-items: center;
    padding: 0 rem(0);
  }

  main {
    min-width: 100%;
    min-height: rem(600);
    display: flex;
    padding: rem(30) 0 0 0;

    aside.aside-content {
      background-color: $asideColor;
      overflow: hidden;
      display: inline-block;
      border-radius: rem(10);
      font-weight: 600;
      text-transform: lowercase;
      width: 20%;
      /*max-height: rem(45);*/
      padding: rem(5) rem(5) rem(10) rem(10);
      margin: 0 rem(20) 0 0;

      div.tagword-demo {
        display: flex;
        align-items: center;
        width: 100%;
        height: rem(30);
        border-radius: rem(5);
        color: $asideFontColor;
        margin: rem(5) 0 rem(5) rem(-3);
        border: rem(1) solid $asideItemsColor;
        background-color: $asideItemsColor;
        -webkit-transition: all ease-in-out 0.5s;
        -moz-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
        &:hover {
          background-color: $asideItems-hover;
          border: rem(1) solid $asideItemsBorder;
        }

        .hashtag {
          width: rem(14);
          height: rem(14);
          color: $hashtag;
          margin: rem(-1) rem(-2) 0 rem(10);
        }
        .remove-item {
          color: $removeItemColor;
          width: rem(13);
          height: rem(13);
          margin: rem(-1) 0 0 rem(5);
          border-radius: rem(6.5);
          -webkit-transition: all ease-in-out 0.5s;
          -moz-transition: all ease-in-out 0.5s;
          transition: all ease-in-out 0.5s;

          &:hover {
            background-color: tomato;
            color: $backgroundColor;
            cursor: pointer;
          }
        }
        span.country-name {
          overflow: hidden;
          word-wrap: normal;
          text-overflow: ellipsis;
          margin: rem(-2) 0 0 0;
          width: rem(140);
          cursor: default;
        }
      }
    }
    div.main-content-block {
      display: inline-block;
      width: 80%;
      padding: 0 rem(10);

      div.main-search-result {

      }
      form.main-search-bar {
        width: rem(310);
        height: rem(30);
        margin: rem(10) 0 0 0;
        border-radius: rem(6);
        border: rem(1) solid $searchbarBorder;
        background-color: $searchbarColor;
        display:flex;
        align-items: center;
        float: right;

        input[type="text"] {
          background-color: rgba(0, 0, 0, 0);
          -webkit-transition: all ease-in-out 0.5s;
          -moz-transition: all ease-in-out 0.5s;
          transition: all ease-in-out 0.5s;
          color: $searchbarText;
          width: 90%;
          height: 90%;
          font-size: rem(12);
          text-align: right;
          margin: rem(-2) 0 0 0;
          padding: 0 rem(10) 0 rem(10);
          overflow: hidden;

          &:focus {
            outline: 0;
          }
          &::placeholder {
            color: $searchbarholder;
            font-size: rem(11);
          }
          &:-ms-input-placeholder {
            color: $searchbarholder;
            font-size: rem(11);
          }
          &::-ms-input-placeholder {
            color: $searchbarholder;
            font-size: rem(11);
          }
        }
        button {
          height: rem(18);
          width: rem(65);
          background-color: $searchbuttonColor;
          font-size: rem(11);
          color: $backgroundColor;
          margin: rem(-2) rem(-20) 0 0;
          border-radius: rem(4);
          -webkit-transition: all ease-in-out 0.3s;
          -moz-transition: all ease-in-out 0.3s;
          transition: all ease-in-out 0.3s;
          border: rem(1) solid $searchbuttonborder;
          outline: 0;

          &:hover{
            cursor: pointer;
            width: rem(68);
          }
        }
      }
    }
  }
}
