@import "../../styles/variables", "../../styles/funtions";

svg.loadingIcon {
  margin: 0 rem(-20) 0 0;
  height: rem(18);
  width: rem(65);
  background-color: $searchbuttonColor;
  border-radius: rem(4);
  border: rem(1) solid $searchbuttonborder;
  polygon.st0 {
    fill: $backgroundColor;
    animation-fill-mode: forwards;
    animation: wave 1.5s ease-in-out infinite;
  }

  @keyframes wave {
    0%   {opacity: 1.0;}
    50%  {opacity: 0.3;}
    100% {opacity: 1.0;}
  }

  polygon#first {
    animation-delay: calc(0.2s * 1);
    //animation: second 2s ease-in 1s infinite alternate;
  }
  polygon#center {
    animation-delay: calc(0.2s * 2);
    //animation: second 2s ease-in 3s infinite alternate;
  }
  polygon#last {
    animation-delay: calc(0.2s * 3);
    //animation: third 2s ease-in 6s infinite alternate;
  }
}
